@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090b0f;
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1920px) {
  body {
    background-image: url("/bg1536Plus.svg");
  }
}

@media (min-width: 1248px) {
  body {
    background-image: url("/bg1280Plus.svg");
  }
}

@media (min-width: 744px) {
  body {
    background-image: url("/bg768Plus.svg");
  }
}

@media (min-width: 480px) {
  body {
    background-image: url("/bg480Plus.svg");
  }
}
